<footer class="bg-white">
  <div class="container my-9">
    <div class="d-lg-none">
      <h2 class="shrikhand mb-4">ALPHABOX+</h2>
      <img src="/assets/images/emergency.png" alt="" style="width: 80px; height: 80px;">
      <ul class="list-unstyled mt-4">
        <li class="mb-4"><a href="" class="text-dark fw-bolder">關於我們</a></li>
        <li class="mb-4"><a href="" class="text-dark fw-bolder">產品資訊</a></li>
        <li class="mb-4"><a href="" class="text-dark fw-bolder">常見問題</a></li>
        <li class="mb-4"><a href="" class="text-dark fw-bolder">隱私政策</a></li>
      </ul>
      <p class="font-monospace">Copyright © 2023 Hexschool.</p>
    </div>

    <div class="d-lg-flex d-none justify-content-between align-items-center">
      <div>
        <h2 class="shrikhand">ALPHABOX+</h2>
        <p class="font-monospace">Copyright © 2023 Hexschool.</p>
      </div>
      <img src="/assets/images/emergency.png" alt="" style="width: 80px; height: 80px;">
      <ul class="list-unstyled d-flex mb-0">
        <li class="ms-6"><a href="" class="text-dark fw-bolder">關於我們</a></li>
        <li class="ms-6"><a href="" class="text-dark fw-bolder">產品資訊</a></li>
        <li class="ms-6"><a href="" class="text-dark fw-bolder">常見問題</a></li>
        <li class="ms-6"><a href="" class="text-dark fw-bolder">隱私政策</a></li>
      </ul>
    </div>
  </div>
</footer>