<nav class="navbar navbar-primary bg-primary border border-white border-top-0 border-start-0 border-end-0 ">
  <div class="container">
      <a class="navbar-brand  shrikhand fs-2 text-white py-2" href="index.html">ALPHABOX+</a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav d-none d-lg-flex flex-lg-row noto-sans-CJK-TC fw-normal">
        <li class="nav-item ">
          <a class="nav-link me-9 " href="#">產品</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link me-9" href="about.html">關於我們</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link me-9" href="#">最新消息</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link me-9" href="#">FAQ</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">聯絡我們</a>
        </li>
      </ul>
      <ul class="navbar-nav d-none d-lg-flex flex-lg-row noto-sans-CJK-TC fw-normal">
        <li class="nav-item ">
          <a class="nav-link " href="#">註冊</a>
        <li class="nav-item ms-6">
          <a class="nav-link" href="#">登入</a>
        <li class="nav-item bg-white rounded-2 ms-8">
          <a class="nav-link d-flex align-items-center px-4" href="#">
            <img  src="/assets/images/point_scan.png" alt="">
            <p class="mb-0 text-dark ms-1">訂閱</p>
          </a>
        </li>
      </ul>
    </div>
  </nav>
    <div class="collapse navbar-collapse d-lg-none" id="navbarText">
      <ul class="navbar-nav align-items-center navbar-bg text-white py-5 noto-sans-CJK-TC fw-normal">
        <li class="nav-item py-1 ">
          <a class="nav-link " href="#">產品</a>
        </li>
        <li class="nav-item py-1 ">
          <a class="nav-link" href="about.html">關於我們</a>
        </li>
        <li class="nav-item py-1 ">
          <a class="nav-link" href="#">最新消息</a>
        </li>
        <li class="nav-item py-1 ">
          <a class="nav-link" href="#">FAQ</a>
        </li>
        <li class="nav-item py-1 ">
          <a class="nav-link" href="#">聯絡我們</a>
        </li>
        <li class="nav-item py-1 ">
          <a class="nav-link " href="#">註冊</a>
        <li class="nav-item py-1 ">
          <a class="nav-link" href="#">登入</a>
        <li class="nav-item py-1 bg-white rounded-2 ">
          <a class="nav-link d-flex align-items-center px-4 py-2" href="#">
            <img  src="/assets/images/point_scan.png" alt="">
            <p class="mb-0 text-dark ms-1">訂閱</p>
          </a>
        </li>
      </ul>
  </div>
